<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.grocergrocer.grocergrocer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.SignUpActivity"
            android:label="@string/signup"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.AccountDetailsActivity"
            android:label="@string/account_details"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.ExploreActivity"
            android:label="@string/explore"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.CategoriesActivity"
            android:label="@string/categories"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.CategoryActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.ShoppingCartActivity"
            android:label="@string/shopping_cart"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.GroceryListActivity"
            android:label="@string/grocery_list"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.OrderHistoryActivity"
            android:label="@string/order_history"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.DeliveryAddressActivity"
            android:label="@string/delivery_address"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AddDeliveryAddressActivity"
            android:label="@string/add_delivery_address"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.DeliveryTimeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ReviewOrderActivity"
            android:label="@string/review_order"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.OrderConfirmationActivity"
            android:label="@string/order_confirmation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.OrderCompleteActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>